.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--footer-height);
  position: relative;
  padding: 52px;
  font-size: 14px;
  background-color: var(--clr-dark-blue);

  @media all and (max-width: 575px) {
    height: auto;
    padding: 36px 16px 32px;
    overflow: hidden;
  }
}
.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;

  @media all and (min-width: 768px) and (max-width: 992px) {
    justify-content: flex-start;
  }
  @media all and (max-width: 575px) {
    flex-wrap: wrap;
  }
}
.footer-logo {
  @media all and (max-width: 575px) {
    width: 100%;
  }
}
.footer-navigation {
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) and (max-width: 992px) {
    margin-left: 13%;
  }
  @media all and (max-width: 575px) {
    margin-top: 28px;
  }
}
.navigation-link {
  color: #ffffff;
  margin-bottom: 16px;

  &.get-ideas {
    @media all and (min-width: 768px) and (max-width: 992px) {
      max-width: 52%;
    }
  }
}
.navigation-link.colored {
  margin-bottom: 24px;
  font-size: 16px;
  color: var(--clr-ping);
  text-decoration-line: underline;
  text-transform: uppercase;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 444px;
  height: 156px;
  background-color: var(--clr-blue);
  border-radius: var(--border-radius-12);
  z-index: 9;

  @media all and (min-width: 993px) and (max-width: 1200px) {
    width: 290px;
    height: 242px;
  }
  @media all and (min-width: 768px) and (max-width: 992px) {
    position: absolute;
    right: 40px;
    bottom: 52px;
    width: 330px;
    height: 137px;
  }
  @media all and (min-width: 576px) and (max-width: 767px) {
    position: absolute;
    right: 32px;
    bottom: 52px;
    width: 150px;
    height: 137px;
  }
  @media all and (max-width: 575px) {
    position: absolute;
    bottom: 78px;
    width: calc(100% - 32px);
    height: 64px;
  }
}
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 304px;
  height: 52px;
  cursor: pointer;

  @media all and (min-width: 993px) and (max-width: 1200px) {
    flex-wrap: wrap;
    width: 136px;
    height: auto;
  }
  @media all and (min-width: 768px) and (max-width: 992px) {
    width: 256px;
    height: 40px;
  }
  @media all and (min-width: 576px) and (max-width: 767px) {
    flex-wrap: wrap;
    width: 88px;
    height: auto;
  }
  @media all and (max-width: 575px) {
    width: calc(100% - 32px);
    max-width: 304px;
  }
}

.icon-instagram {
  @media all and (min-width: 993px) and (max-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 50px;
  }
  @media all and (min-width: 576px) and (max-width: 767px) {
    margin-right: 34px;
    margin-bottom: 28px;
  }
}
.icon-facebook {
  @media all and (min-width: 993px) and (max-width: 1200px) {
    margin-bottom: 50px;
  }
  @media all and (min-width: 576px) and (max-width: 767px) {
    margin-bottom: 28px;
  }
}
.icon-twitter {
  @media all and (min-width: 993px) and (max-width: 1200px) {
    margin-right: 50px;
  }
  @media all and (min-width: 576px) and (max-width: 767px) {
    margin-right: 34px;
  }
}

.socials {
  @media all and (min-width: 768px) and (max-width: 992px) {
    width: 26px;
    height: 26px;
  }
  @media all and (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
}
.socials:hover:deep(svg path) {
  fill: var(--clr-hot-ping);
}
.footer-bottom {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;

  @media all and (max-width: 575px) {
    margin-top: 112px;
  }
}
.footer-text {
  position: relative;
  color: var(--clr-green-bondi-blue);
  z-index: 10;
}

//Картинки бекграунда
.pink-spot {
  position: absolute;
  left: 0;
  bottom: 30px;

  @media all and (max-width: 1200px) {
    left: -9%;
  }
  @media all and (max-width: 992px) {
    left: -14%;
  }
  @media all and (max-width: 575px) {
    left: -166px;
    bottom: auto;
    top: 26%;
  }
}
.white-line {
  position: absolute;
  top: 70px;
  left: 4%;

  @media all and (max-width: 1300px) {
    left: 2%;
  }
  @media all and (max-width: 1200px) {
    display: none;
  }
  @media all and (max-width: 575px) {
    display: block;
    width: 20px;
    top: auto;
    bottom: 97px;
    left: -2px;
    transform: rotate(145deg);
    z-index: 10;
  }
}
.black-spots {
  position: absolute;
  bottom: 40px;
  left: 36%;

  @media all and (max-width: 1200px) {
    left: 45%;
  }
  @media all and (max-width: 992px) {
    right: 22px;
    left: auto;
    top: 18px;
  }
  @media all and (max-width: 767px) {
    display: none;
  }
  @media all and (max-width: 575px) {
    display: block;
    right: 37px;
    top: 52%;
    width: 41px;
    z-index: 10;
  }
}
.blue-spot {
  position: absolute;
  right: 0;
  bottom: 0;

  @media all and (max-width: 992px) {
    display: none;
  }
  @media all and (max-width: 575px) {
    display: block;
    right: -110px;
  }
}
.white-spots {
  position: absolute;
  right: 45px;
  top: 50px;
  z-index: 10;

  @media all and (max-width: 1300px) {
    right: 1%;
  }
  @media all and (max-width: 1200px) {
    display: none;
  }
}
.black-line {
  position: absolute;
  bottom: 88px;
  right: 20%;
  z-index: 10;

  @media all and (min-width: 993px) and (max-width: 1200px) {
    top: 101px;
    right: 13px;
    transform: rotate(139deg);
  }
  @media all and (max-width: 992px) {
    display: none;
  }
  @media all and (max-width: 575px) {
    display: block;
    top: 50%;
    right: 43%;
    bottom: auto;
    width: 30px;
    transform: rotate(130deg);
  }
}
.white-plus {
  position: absolute;
  top: 162px;
  right: 45%;

  @media all and (min-width: 993px) and (max-width: 1200px) {
    top: 18px;
    right: 42px;
  }
  @media all and (max-width: 992px) {
    display: none;
  }
  @media all and (max-width: 575px) {
    display: block;
    top: 38px;
    right: 38px;
  }
}
.white-round {
  position: absolute;
  bottom: 62px;
  right: 35%;

  @media all and (max-width: 1200px) {
    display: none;
  }
}
